#ver-zebra a,
#ver-zebra a:link,
#ver-zebra a:visited {
    text-decoration: none !important;
    color: #fff;
}

html body #list_surround table#ver-zebra {
    width: 64px;
    background-color: transparent;
    position: fixed;
    top: 0px;
    height: 0px;
    padding-top: 64px;
    z-index: 2;
}

#ver-zebra>tbody>tr {
    display: block;
    visibility: hidden;
}

#ver-zebra:hover>tbody>tr {
    visibility: visible !important;
}

html body #list_surround table#ver-zebra {
    left: 64px;
    background-image: url("https://dl.dropboxusercontent.com/s/uq7y152gc374g65/sort.png?dl=0");
}

#ver-zebra>tbody>tr {
    /* width: 118px; */
    width: 128px;
    padding: 5px;
    height: auto !important;
    background-color: #272727;
    position: fixed;
    top: 0px;
    z-index: 4;
}

#ver-zebra>tbody>tr {
    left: 64px;
}

.table_header {
    height: auto;
    width: 100%;
    float: left;
    display: block;
    background-color: #222;
}

.table_header>a {
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 10px 10px 10px 10px;
    width: auto;
    display: block;
    /* vertical-align: top; */
    height: auto;
    font-weight: bold;
}

.table_header>a:hover {
    background-color: #fff !important;
    color: #000 !important;
}