@import url('https://fonts.googleapis.com/css?family=Sue+Ellen+Francisco');
:root {
    margin: 0;
    padding: 0;
}

a,
a:link,
a:visited {
    text-decoration: none !important;
}

* {
    box-sizing: border-box;
    cursor: auto;
}

body {
    font-family: Arial, arial, sans-serif !important;
    color: #fff;
    /*TUTAJ TŁO*/
    background: url("https://dl.dropboxusercontent.com/s/xrg9vc88iuxqzpo/bg-28.jpg?dl=0") no-repeat fixed center top/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}