table[class^="h"],
[class^="h"] > tbody,
[class^="h"] tr,
[class^="h"] td {
  display: contents;
}

#title_edit > h4,
.header_title {
  height: auto;
  font-size: 140%;
  display: flex;
  align-items: center;
  padding: 1em 1em 0;
  color: var(--font-color);
  color: rgba(0, 0, 0, 0.6);
  font-weight: 700;
  transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  grid-column: 1/-1;
  z-index: 2;
  text-transform: uppercase;
}

.header_title > span {
  text-transform: uppercase;
}
