.floatThead-container {
  display: flex;
  box-shadow: var(--box-shadow);
}

.floatThead-container table {
  flex-direction: row;
  background: var(--background-light);
  border-radius: 4px;
  overflow: hidden;
  display: flex !important;
  border: none;
  box-shadow: var(--box-shadow);
  overflow-x: auto;
}

.floatThead-container thead,
.floatThead-container tr {
  display: contents;
}

.floatThead-container th {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  color: var(--text);
  font-weight: 500;
  padding: 18px 20px;
  font-family: var(--roboto);
}

.floatThead-container th:not(.col-title) {
  justify-content: center;
  flex: 1;
}

.col-title {
  flex: 5;
  justify-content: flex-start;
}

@media (orientation: portrait) {
  .col-title {
    flex: 1;
    justify-content: center;
  }
}

.floatThead-container th:hover {
  --text: var(--background-light);

  background: var(--primary);
}

.title-list th::after {
  content: none;
}

.floatThead-container th:focus {
  outline: none;
  box-shadow: var(--focus-shadow);
}
