@import url("https://fonts.googleapis.com/css?family=Roboto:400,500");

:root {
  --bg-color: rgb(237, 241, 245);
  --main-hover-color: rgb(61, 180, 242);
  --main-color: rgb(250, 250, 250);
  --font-color: rgb(92, 114, 138);
  --second-font-color: rgb(122, 133, 143);
  --font-hover-color: rgb(237, 241, 245);
  --box-shadow: 0 2px 20px rgba(49, 54, 68, 0.09);
  --roboto: Roboto, sans-serif;
  --focus-shadow: 0 1px 10px 0 rgba(49, 54, 68, 0.15);
  --gap: 33vh;
}

body {
  font-family: var(--roboto);
}

@media only screen and (orientation: landscape) {
  #container {
    flex-direction: row;
  }
}

#container {
  margin-top: var(--gap);
  padding: 32px 32px 64px;
  background: var(--bg-color);
  max-width: 100%;
  width: 100%;
}

#container * {
  border: 0 !important;
}

.background {
  display: none;
}

.list-content {
  display: flex;
  flex-direction: column;
  flex: 5;
}

.title-list {
  min-width: 261px !important;
}

.title-list tbody {
  margin-top: 64px;
  width: auto;
  background: var(--main-color);
  box-shadow: var(--box-shadow);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.title-list .title-row {
  background: var(--tr-color, transparent) !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-list .title-row:hover {
  --font-color: var(--font-hover-color);
  --tr-color: var(--main-hover-color);
}

.title-list td {
  color: var(--font-color);
  padding: 18px 20px;
  display: flex;
  align-items: center;
  height: auto;
  width: auto;
  font-family: var(--roboto);
}

.title-list td:not(.title-col) {
  flex: 1;
  justify-content: center;
}

.title-col {
  flex: 5;
  justify-content: flex-start;
}

body > footer {
  background: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

body > footer > .userspace-center {
  all: unset;
  color: transparent;
}

body > footer > .userspace-center a,
body > footer > .userspace-center {
  color: transparent;
}

body > footer > .userspace-center a::after {
  content: "SEE YOU SPACE COWBOY...";
  color: var(--font-color);
}

body > footer .userspace-center:hover {
  --font-color: var(--main-hover-color);
}
