.watched_status {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.watched_status::before {
  content: "Listy";
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.watched_status li,
.watched_status ul {
  display: contents;
}

.watched_status::before,
.watched_status li a {
  color: var(--second-font-color);
}

.watched_status li a {
  background: none;
  font-size: 1.4rem;
  padding: 5px 10px;
  margin-bottom: 8px;
  font-family: var(--roboto);
}

.watched_status li a.active {
  --second-font-color: var(--font-color);

  background-color: var(--main-color);
  font-weight: 500;
  border-radius: 3px;
}
