body > header {
  background-color: var(--background-light);
  overflow-x: auto;
}

@media (orientation: portrait) {
  body > header {
    position: relative;
    top: var(--gap);
  }
}

nav[role='navigation'] {
  display: flex;
  margin: 0 auto;
  padding: 0 160px;
  min-width: 800px;
  justify-content: center;
}

.nav-search,
body > header div,
body > header ul {
  display: contents;
}

nav[role='navigation'] li {
  display: flex;
  margin: 0;
}

nav[role='navigation'] li a {
  padding: 15px;
  color: var(--text);
  font-size: 1.4rem;
}

nav[role='navigation'] li:not(.active) {
  --text: var(--text-light);
}

nav[role='navigation'] li:hover a {
  --text: var(--primary);
}

nav[role='navigation'] li.active a {
  color: var(--text);
  background: initial;
}

nav[role='navigation'] li a:hover,
nav[role='navigation'] li a:focus {
  background: initial;
}

.nav-search button[type='submit'],
.nav-search input[type='text'] {
  margin: 10px 0;
  background-color: var(--background);
  border: none;
  color: var(--text);
}

.nav-search input[type='text'] {
  font-size: 14px;
}

.nav-search input[type='text']::placeholder {
  color: var(--text-light);
}

.nav-search button[type='submit']:focus,
.nav-search input[type='text']:focus {
  outline: none;
  box-shadow: var(--focus-shadow);
}
