@import url("https://fonts.googleapis.com/css?family=Sue+Ellen+Francisco");

a,
a:link,
a:visited {
  text-decoration: none !important;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, arial, sans-serif !important;
  background:
    url("https://dl.dropboxusercontent.com/s/xrg9vc88iuxqzpo/bg-28.jpg?dl=0")
    center top/cover no-repeat fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  min-height: 100vh;
  overflow-x: hidden;
}
