@import url("https://api4.shinden.pl/userlist/anime/32245/css?coverL=.title-:title_id:");
@import url("https://fonts.googleapis.com/css?family=Sue+Ellen+Francisco");

/* @import url("https://api4.shinden.pl/userlist/anime/32245/css?coverS=.title-:title_id:"); */
.background {
  background:
    url("https://dl.dropboxusercontent.com/s/tkx1gr2weodiox5/anime%2016-9%20kimi_no_nawa.png?dl=0")
    center center/cover repeat fixed;
}

:root {
  /* font-size: 16px; */

  --font-color: #222;
  --font-hover-color: #fff;
  --main-color: #fed311;
  --font-shadow-color: #ba9b0c;
  --second-color: #80ccc7;
  --second-font-shadow-color: #4a7674;
  --third-color: #fe93af;
  --third-font-shadow-color: #a96174;
  --box-hover-shadow: 10px 10px 7px rgba(0, 0, 0, 0.7);
  --box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
  --Sue: "Sue Ellen Francisco", arial, sans-serif;
}

/* ::selection {
  color: var(--main-color);
  background: black;
} */
.list-content {
  display: flex;
  flex-direction: column;
  max-width: 100vw;

  /* justify-content: center;
  align-items: center; */
}

.title-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 261px !important;
}

.title-list colgroup,
.title-list fthfoot {
  display: none;
}

.title-list tbody {
  margin-top: 32px;
  width: auto;
  background: #fff;
  box-shadow: var(--box-shadow);
  display: grid;
  grid: auto-flow 386px / 261px;
}

/* 225px/350px */
@media only screen and (min-width: calc(522px / 0.9)) {
  .title-list tbody {
    grid-template-columns: repeat(2, 261px);
  }
}

@media only screen and (min-width: calc(783px / 0.9)) {
  .title-list tbody {
    grid-template-columns: repeat(3, 261px);
  }
}

@media only screen and (min-width: calc(1044px / 0.9)) {
  .title-list tbody {
    grid-template-columns: repeat(4, 261px);
  }
}

.title-row {
  border: 2px solid var(--main-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  margin: 16px;
  box-shadow: var(--box-shadow);
  display: grid;
  grid:
    "title" 2fr
    "rate-total" 2fr/ 100%;
  grid-auto-rows: 1fr;
  transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.title-row:nth-child(7n) {
  --main-color: #6f6;
  --font-shadow-color: #6a6;

  transform: rotate(1deg);
}

.title-row:nth-child(11n) {
  --main-color: var(--second-color);
  --font-shadow-color: var(--second-font-shadow-color);

  transform: rotate(-1.5deg);
}

.title-row:nth-child(13n) {
  --main-color: var(--third-color);
  --font-shadow-color: var(--third-font-shadow-color);

  transform: rotate(0.5deg);
}

.title-row:nth-child(43n) {
  --main-color: #af90fd;
  --font-shadow-color: #7b66b1;

  transform: rotate(-2deg);
}

.title-row td {
  opacity: 0;
  font-family: "Sue Ellen Francisco", arial, sans-serif;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s ease-out;
  text-transform: uppercase;
  color: var(--font-color);
  line-height: 1.5;
}

.title-row:hover td {
  opacity: 1;
}

.title-row:hover {
  background: var(--main-color);
  transform: scale(1.05);
  box-shadow: var(--box-hover-shadow);
}

.title-row .title-col {
  grid-area: title;
  padding: 1rem;
}

.title-row .rate.total {
  grid-area: rate-total;
  font-size: 44px;
}

.title-row td * {
  cursor: pointer;
}

.title-row td:hover {
  --font-color: var(--font-hover-color);

  transform: scale(1.1);
  text-shadow: 0.2rem 0.2rem var(--font-shadow-color);
}

/* .floatThead-floatContainer.floatThead-container {
  width: 100%;
} */

/*
@media only screen and (min-width: 639px) {
  #list_surround {
    grid-template-columns: repeat(3, 0 213px);
  }
}

@media only screen and (min-width: 852px) {
  #list_surround {
    grid-template-columns: repeat(4, 0 213px);
  }
}

.td1 a,
.td1 i,
.td1 span,
.td1 a:link,
.td1 a:visited {
  color: var(--font-color);
}

.td1 {
  width: 100%;
  text-align: center;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease-out;
  text-transform: uppercase;
  color: var(--font-color);
}

.td1:nth-child(2) {
  flex-direction: row-reverse;
  padding: 1rem;
}

.td1:nth-child(3) {
  font-size: 44px;
}

.td1:nth-child(4) {
  font-size: 15px;
}

.td1:hover {
  transform: scale(1.1);

  --font-color: var(--font-hover-color);

  text-shadow: 0.2rem 0.2rem var(--font-shadow-color);
}

.table_header:nth-of-type(3n-5),
[class*="tr"],
.title-row .td1:nth-of-type(5n-9) {
  display: none !important;
}

.title-row,
.title-row > tbody {
  display: contents;
}

.title-row tr {
  width: 181px;
  margin: 16px;
  height: 254px;
  z-index: 2;
  display: grid;
  grid: repeat(2, 2fr) repeat(2, 1fr) / 100%;
  background: var(--main-color);
  opacity: 0;
  transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.td1:nth-child(2) * {
  font-weight: 100;
  font-size: 14px;
}



.title-row:hover + .hide {
  transform: scale(1.05);
  box-shadow: var(--box-hover-shadow);
}

.title-row tr:hover {
  opacity: 1;
  transform: scale(1.05);
}

.td1 *:hover {
  cursor: pointer;
}

#copyright {
  place-self: center;
  padding: 0;
  margin: 0 !important;
  grid-column: 1/-1;
}

.userspace-center {
  display: contents;
}

#copyright a {
  color: transparent;
  display: flex;
  flex-direction: column;
}

#copyright a::after {
  content: "SEE YOU SPACE COWBOY...";
  color: var(--font-color);
}

#copyright a:hover::after {
  transform: scale(1.1);
} */
